In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

## SFF

In [2]:
df1 = pd.read_csv("SFF.csv")

In [12]:
df1 = df1.drop("Unnamed: 0", axis=1)
df1

,weathercode (wmo code),temperature_2m (°C),relativehumidity_2m (%),dewpoint_2m (°C),Yield (mt/ha)
0,3.0,23.486279,86.200457,20.899235,0.452088
1,3.0,23.378607,86.403995,20.856210,0.493333
2,3.0,23.253153,86.111225,20.664014,0.625789
3,3.0,23.086187,88.171575,20.931313,0.641301
4,3.0,23.100217,88.401142,20.990674,0.669609
...,...,...,...,...,...
952,1.0,25.101781,81.959703,21.787637,0.000000
953,1.0,25.174361,81.307420,21.708082,0.000000
954,1.0,25.272291,80.921790,21.740745,0.000000
955,1.0,25.110696,81.587671,21.717591,0.000000
956,51.0,25.006564,81.811986,21.663824,0.000000

In [13]:
x = df1.drop('Yield (mt/ha)', 1)
y = df1['Yield (mt/ha)']

C:\Users\Darah Manayaga\AppData\Local\Temp\ipykernel_17900\2279436022.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  x = df1.drop('Yield (mt/ha)', 1)

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, 
                 random_state = 100)

In [15]:
mlr = LinearRegression()

In [16]:
mlr.fit(X_train, y_train)

LinearRegression()

In [17]:
print("Intercept: ", mlr.intercept_)
print("Coefficients:")
list(zip(x, mlr.coef_))

Intercept:  -13.521891825955613
Coefficients:

[('weathercode (wmo code)', -0.0038413865576585864),
 ('temperature_2m (°C)', 0.6596093883886169),
 ('relativehumidity_2m (%)', 0.1248371724288872),
 ('dewpoint_2m (°C)', -0.5798019268768502)]

## VIF

In [18]:
df2 = pd.read_csv("VIF.csv")

In [20]:
df2 = df2.drop("Unnamed: 0", axis=1)
df2

     weathercode (wmo code)  rain (mm)  windspeed_10m (km/h)  Yield (mt/ha)
0                       3.0   0.365126              6.732808       0.452088
1                       3.0   0.292443              6.505616       0.493333
2                       3.0   0.320560              5.957605       0.625789
3                       3.0   0.413082              5.702637       0.641301
4                       3.0   0.391427              5.919954       0.669609
..                      ...        ...                   ...            ...
952                     1.0   0.180468             13.415742       0.000000
953                     1.0   0.107192             13.434920       0.000000
954                     1.0   0.174499             12.067725       0.000000
955                     1.0   0.244247             12.753904       0.000000
956                    51.0   0.265457             11.906050       0.000000

[957 rows x 4 columns]

In [21]:
x = df2.drop('Yield (mt/ha)', 1)
y = df2['Yield (mt/ha)']

C:\Users\Darah Manayaga\AppData\Local\Temp\ipykernel_17900\845353122.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  x = df2.drop('Yield (mt/ha)', 1)

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, 
                 random_state = 100)

In [23]:
mlr = LinearRegression()

In [24]:
mlr.fit(X_train, y_train)

LinearRegression()

In [25]:
print("Intercept: ", mlr.intercept_)
print("Coefficients:")
list(zip(x, mlr.coef_))

Intercept:  1.28047411353508
Coefficients:

[('weathercode (wmo code)', -0.0006136767881061544),
 ('rain (mm)', -1.6125825919075012),
 ('windspeed_10m (km/h)', -0.015472722063732736)]

## Random Forest

In [26]:
df3 = pd.read_csv("RandomForest.csv")

In [27]:
df3 = df3.drop("Unnamed: 0", axis=1)
df3

,rain (mm),dewpoint_2m (°C),relativehumidity_2m (%),soil_temperature_28_to_100cm (°C),Yield (mt/ha)
0,0.365126,20.899235,86.200457,25.227021,0.452088
1,0.292443,20.856210,86.403995,25.074669,0.493333
2,0.320560,20.664014,86.111225,25.086202,0.625789
3,0.413082,20.931313,88.171575,24.700765,0.641301
4,0.391427,20.990674,88.401142,24.679966,0.669609
...,...,...,...,...,...
952,0.180468,21.787637,81.959703,26.616324,0.000000
953,0.107192,21.708082,81.307420,26.571689,0.000000
954,0.174499,21.740745,80.921790,26.978802,0.000000
955,0.244247,21.717591,81.587671,26.899030,0.000000
956,0.265457,21.663824,81.811986,26.713881,0.000000

In [28]:
x = df3.drop('Yield (mt/ha)', 1)
y = df3['Yield (mt/ha)']

C:\Users\Darah Manayaga\AppData\Local\Temp\ipykernel_17900\549672752.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  x = df3.drop('Yield (mt/ha)', 1)

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, 
                 random_state = 100)

In [30]:
mlr = LinearRegression()

In [31]:
mlr.fit(X_train, y_train)

LinearRegression()

In [32]:
print("Intercept: ", mlr.intercept_)
print("Coefficients:")
list(zip(x, mlr.coef_))

Intercept:  -4.991919969378721
Coefficients:

[('rain (mm)', -1.34170512292003),
 ('dewpoint_2m (°C)', -0.0203493675235607),
 ('relativehumidity_2m (%)', 0.0421442638131999),
 ('soil_temperature_28_to_100cm (°C)', 0.11294947388884465)]